/* ******** NON-MOBILE STYLES (*********) */
@media only screen and (min-width: 600px) {
  html {
    font-size: 16px;
  }

  form.form-control {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;

  }

}

/* ******** MOBILE FIRST DEFAULT STYLES (*********) */

html {
font-size: 24px;
}

body {
  background-color: #9575CD;
}

h1 {
  text-shadow: 1px 1px 1px #d5d0e0;
}

.form-control {
  background-color: #eeedf2;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px 20px 10px 20px;
  /* border: 1px solid #f0f; */
  height: auto;
  width: auto;
  box-shadow: 4px 4px 10px rgba(62, 57, 71, 0.7);
}

.output {
  font-size: 120%;
  height: 70px;
  box-shadow: 4px 4px 10px rgba(62, 57, 71, 0.7);
  text-align: center;
}

.well {
  background-color: #d5d0e0;

}

.output p {
  padding: 0;
}

.button-row, .input-row {
  flex: 0 1 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button-row > * , .input-row > * {
  margin: 4px;
}

input, select, button {
  border: 1px solid #ccc;
  border-radius: 2px;
}

input {
  width: auto;
}

button {
  text-transform: uppercase;
  letter-spacing: .1em;
}
